<h3> List of what Bars Pinball Machines are located </h3>
<table class="machine_bar">
    <thead>
        <th>Bar</th>
        <th>Pinball Machine</th>
    </thead>
    <tbody>
        {{#each machine_bar}}
        <tr>
            <td>{{bar_id}}</td>
            <td>{{machine_id}}</td>
            <td><button onclick="deleteMachineBar({{bar_id}},{{machine_id}})">Delete</button></td>
            <td><a href='#' onclick='javascript: alert("You can implement it just like the Add form.")'>Update</a></td>
        </tr>
        {{else}}
        <b> No Pinball machines at any Bars found!</b>
        {{/each}}

    </tbody>
</table>

<h1>Add a Pinball Machine to a Bar:</h1>
<form id="addMachineBar" action="/machine_bar" method="post">
    Bar Name: <select name="bar_id">
        {{#each bar}}
        <option value="{{bar_id}}">{{bar_name}}</option>
        {{/each}}
    </select><br>
    Pinball Machine Names:<sup>Multi-select</sup> <select multiple name="machine_id">
        {{#each machine}}
        <option value="{{machine_id}}">{{mach_name}}</option>
        {{/each}}
    </select><br>
    <div class="form-relation">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>