<html>
<h1>Update {{team.team_name}}:</h1>
<form id="update-team" action="/team" method="post">
    Team Name: <input type="text" name="team_name" value="{{team.team_name}}"><br>
    Home Bar: <select name="home_bar_id" id="bar-selector">
        {{#each bar}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
</form>
<button onclick="updateTeam({{team.id}})">Update</button>
<script defer>selectBar({{ team.home_bar_id }});</script>

</html>